/audiencetype.rst
/contributortype.rst
/datetype.rst
/formattype.rst
/funderidentifiertype.rst
/identifiertype.rst
/nametype.rst
/relatedidentifiertype.rst
/relationtype.rst
/resourcetype.rst
/resourcetypegeneral.rst
/titletype.rst
