@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700,700i&display=swap');
/*Variables*/
:root {
  --blancorgba: #fcfcfc23;
  --blanco: #fcfcfc;
  --naranja: #eb721c;
  --gris: #404040;
  --grisrgba: #404040ec;
}
/*Variables*/
/*Reset*/
/*.wy-body-for-nav {      Se quito el fondo por sugerencia de MinCiencias
  background: var(--blanco)
    url('http://redcol.MinCiencias.gov.co/images/fondo.png') !important;
}*/
.wy-nav-content-wrap {
  background: var(--blancorgba);
}
.wy-nav-content {
  background: transparent !important;
}
a,
.fn-backref {
  color: var(--naranja);
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: var(--gris);
}
.wy-breadcrumbs li a,
.fa-github {
  color: var(--naranja);
  text-decoration: none;
}
.wy-breadcrumbs li a:hover,
.fa-github:hover {
  color: var(--gris);
}
@media (min-width: 1200px) {
  .wy-breadcrumbs {
    display: flex;
    align-items: center;
  }
  .wy-breadcrumbs li {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 10px;
  }
  .wy-breadcrumbs li:nth-child(2) {
    max-width: 600px;
  }
}
.wy-nav-top {
  background: var(--gris);
  line-height: 1.2em;
  height: 200px;
  border-top: 5px solid var(--naranja);
}
.wy-nav-top i {
  position: absolute;
  top: 10px;
  left: 30px;
  color: var(--naranja);
  z-index: 10;
}
.wy-nav-top a {
  position: absolute;
  display: inherit;
  color: #fff;
  font-weight: 600;
  z-index: 1;
  width: 80%;
  height: auto;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Playfair Display', serif;
}
.highlight {
  background: var(--gris);
  color: var(--blanco);
}
.highlight .na {
  color: aqua;
}
.highlight .nt {
  color: burlywood;
}
.highlight .s {
  color: var(--blanco);
}
.reference img {
  width: 80% !important;
  height: auto !important;
  margin-left: 50%;
  transform: translateX(-50%);
}
img#img-header,
img#img-footer {
  margin-left: 0;
  transform: unset;
}
img#img-header {
  width: 50% !important;
  height: auto !important;
  margin-bottom: 20px;
}
img#img-footer {
  width: 50% !important;
  height: auto !important;
}
.toctree-wrapper ul li {
  list-style: none !important;
}
/*Reset*/
.wy-nav-content {
  padding: 1em 5em;
  height: 100%;
  max-width: 100vw;
  margin: auto;
}
.naranja {
  color: var(--naranja);
}
.rst-versions .rst-current-version {
  background: var(--naranja);
  color: var(--blanco);
}
/*Estilos 14052019 - Carlos Pachón */
/*-Sidebar izq-*/
.wy-nav-side {
  background: var(--blanco);
  border-right: thin solid rgba(3, 3, 3, 0.1);
}
.wy-side-nav-search {
  background: transparent;
  border-top: 4px solid var(--naranja);
}
.wy-side-nav-search a {
  color: var(--gris);
  text-align: left;
  font-weight: 600;
}
.wy-side-nav-search input[type='text'] {
  color: var(--gris);
  border: thin solid rgba(3, 3, 3, 0.2);
  box-shadow: none;
}
.wy-menu-vertical li.toctree-l1 > a {
  color: var(--gris);
  font-weight: 600;
  text-align: left;
  padding: 1em;
  line-height: 1.2em;
}
.wy-menu-vertical li.toctree-l1 > a:hover {
  background-color: transparent !important;
  border-left: 5px solid var(--naranja);
}
.wy-menu-vertical li.toctree-l1.current > a {
  color: var(--naranja);
  border-bottom: none;
  border-top: none;
  border-left: 5px solid var(--naranja);
}
.wy-menu-vertical li.current > a span.toctree-expand {
  color: var(--naranja);
}
/*|--ads*/
.ethical-rtd,
.ethical-dark-theme {
  display: none;
}
/*-Contenido-*/
/*|--Estilos de texto*/
h1 {
  border-left: 4px solid var(--naranja);
  padding-left: 20px;
}
.footnote-reference,
.footnote-reference:hover {
  color: var(--naranja);
}
.wy-table-responsive {
  border-radius: 5px;
  margin: 50px 10px;
}
.docutils {
  width: 100%;
  color: var(--grisrgba);
  border-collapse: collapse;
}
.rst-content table.docutils:not(.field-list) tr td {
  background: transparent !important;
  font-size: 0.9em;
}
.head {
  background: var(--grisrgba);
  color: var(--blanco);
}
/*|--Tabla de contenido*/
#directrices-para-repositorios-institucionales-de-investigacion-de-la-red-colombiana-de-informacion-cientifica-2019
  .toctree-l1 {
  list-style-type: none;
}
#directrices-para-repositorios-institucionales-de-investigacion-de-la-red-colombiana-de-informacion-cientifica-2019
  .toctree-l1
  a {
  color: var(--naranja);
  text-decoration: none;
}
.wy-menu-vertical li a span.toctree-expand {
  color: var(--naranja);
  float: right;
}
.wy-menu-vertical li a:hover span.toctree-expand {
  color: var(--naranja);
}
.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
    font-size: 16px;
}


/*|--Componentes footer*/
.rst-footer-buttons a.btn {
  box-shadow: none;
  color: var(--naranja) !important;
  background: transparent !important;
  border-color: var(--naranja);
}

/* override table width restrictions (ajustar las tablas y las muestre correctamente*/
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      /*overflow: visible !important;*/
   }
}
